$bg-color: #F5F7FA;
$text-primary: #1D2129;

$uni-color-primary: #2B6FF0;
$uni-color-success: #00B42A;
$uni-color-warning: #FF7D00;
$uni-color-error: #F53F3F;
$uni-text-color: #1D2129;
$uni-bg-color: #F5F7FA;
